body {
  width: 100%;
  margin: 1e-12px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  border: 1px solid red;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  border: 1px solid black;
}

.trybewarts-header-logo {
  height: 60px;
  margin-left: 10px;
}

#trybewarts-forms-logo {
  height: 500px;
}
