body {
  width: 100%;
  margin: 1e-12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #009688;
  padding: 10px;
}

.trybewarts-header-logo {
  height: 50px;
  margin-left: 10px;
}

.trybewarts-login {
  display: flex;
  gap: 5px;
  align-items: flex-start;
}

.buttonEnter {
  background-color:gainsboro;
  color:darkslategray; 
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
  margin: 5px;
  padding: 6px 10px;
}

.buttonEnter:hover {
  background-color: #3e8e41;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#trybewarts-forms-logo {
  height: 500px;
}

/* Estilos para o formulário */
#evaluation-form {
  max-width: 80%;
  margin: 2px;
  padding: 20px;
  background-color: #f2f2f2;
}

/* Estilos para os campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

/* Estilos para a etiqueta */
label {
  display: inline-flex;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Estilos para o grupo de opções de botão de rádio */
.radio-rate {
  margin-bottom: 20px;
}

/* Estilos para o botão de envio */
#submit-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.family-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: center;
}

.enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trybewarts-header-title {
  color: #F2F2F2;
}